

<section class="row" style="margin: 1% 0.5%;" id="Exp">
    <div>
      <span style="color: rgb(249, 250, 179);">Experiencia</span>
      <button type="button" id="SumarExp" style="float: right;margin-right: 10px;">
        <span id="mas"></span>
      </button>  
    </div>
  <div class="Proyectos">
    <!--Proyectos-->
    <div>
      <h1>Mi Portfolio</h1>
      <div class="card">
        <div class="vidrio">
        
        </div>
      </div>
    </div>
  </div>
    <!--Puestos-->

  </section>
