#ContenedorEstudios{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 1em 0.5%;  
    color:  rgb(189, 189, 189);
    text-shadow:#f3c850 5px 5px 5px;
}
a {
    color:  rgb(189, 189, 189);
}
.Flogos{
    width: 4em;
    height: auto;
    background-color: transparent;
}

.estudios {
    padding: 0% 0%;
    display: flex;
    margin: 3em 0;
}
.TextoEstudios{
    display: inline-flex;
    margin-left: 1em;
}
.Flogos::after{
    left: 30px;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: red;
    backdrop-filter: blur(5px);
    display: none;
}
.linkLogos:hover .Flogos::after{
    display: block;
}

.linkEstudios:hover{
    color:rgba(253, 229, 150,0.);
    text-shadow: 0.2em 0.2em 0.1em #f3c850;
}
