#descripcion {
    margin: 1em 0.5%;
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color:  rgb(252, 235, 235);
}
#SobreMi{
    text-align: center;
}
#Intereses{
    padding-left: 20%;
}
div strong {
    text-shadow:#f3c850 5px 5px 5px;
}
h4 {
    text-shadow:#f3c850 5px 5px 5px;
}
ul {
    text-shadow: #f3c850 5px 5px 5px;
}