<div class="row" id="descripcion">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" id="SobreMi">
        <h4>Sobre Mi</h4>
        <strong>
            {{miInfo.yo.sobremi}}
        </strong>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" id="Intereses">
        <h4>Intereses</h4>
        <ul>
            <li>{{miInfo.yo.intereses.uno}}</li>
            <li>{{miInfo.yo.intereses.dos}}</li>
            <li>{{miInfo.yo.intereses.tres}}</li>
            <li>{{miInfo.yo.intereses.cuatro}}</li>
            <li>{{miInfo.yo.intereses.cinco}}</li> 
        </ul>
    </div>
</div>
