<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editarestudios">Editar Estudios</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form class="row g-3">
          <div class="col-md-4">
            <label class="form-label">Titulo</label>
            <input type="text" class="form-control" id="validationServer01" value="Mark">
          </div>
          <div class="col-md-4">
            <label class="form-label">Inicio</label>
            <input type="text" class="form-control" id="inicio" value="Otto">
          </div>
          <div class="col-md-4">
            <label class="form-label">Fin</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend3">@</span>
              <input type="text" class="form-control" id="fin" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback">
            </div>
          </div>
          <div class="col-md-6">
            <label class="form-label">Descripcion</label>
            <input type="text" class="form-control" id="descripcion" aria-describedby="validationServer03Feedback">
          </div>
          <div class="col-md-6">
            <label class="form-label">URL</label>
            <input type="text" class="form-control" id="url" aria-describedby="validationServer03Feedback">
          </div>
          <div class="col-md-3">
            <label class="form-label">Ancho</label>
            <input type="text" class="form-control" id="ancho" aria-describedby="validationServer03Feedback">
          </div>
          <div class="col-md-3">
            <label class="form-label">Alto</label>
            <input type="text" class="form-control" id="alto" aria-describedby="validationServer03Feedback">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
    </div>
    </div>
  </div>

<script>
var exampleModal = document.getElementById('exampleModal')
exampleModal.addEventListener('show.bs.modal', function (event) {
  var button = event.relatedTarget
  var recipient = button.getAttribute('data-bs-whatever')
  var modalTitle = exampleModal.querySelector('.modal-title')
  var modalBodyInput = exampleModal.querySelector('.modal-body input')
  modalTitle.textContent = 'New message to ' + recipient
  modalBodyInput.value = recipient
})
var botonDeEnvio = button.getAttribute('data-bs-whatever')
</script>


