<div class="row" id="baner">
  <!--<div class="col-md-1 col-lg-1 col-xl-1"></div>-->
    <div id="Ficha">
      <div id="Yo">
        <img src={{miInfo.yo.foto}}  style="border-radius: 45%;float: left;margin-left: 10px;margin-bottom: 10px;" width="auto" height="100px">
        <p id="TextoInicial">
          <b>
            {{miInfo.yo.nombre}} <br>
            {{miInfo.yo.titulos.programador}} <br>
            {{miInfo.yo.titulos.secundario}} 
          </b>
        </p>
      </div>
    </div>
</div>