<section class="Skills">
  <div>
      <h5 style="color: rgb(243, 238, 169);margin-left: 1%;">Habilidades</h5>
    </div>
  
  <!-- <div class="card">
    <div class="Banderas">
      <span class="poste">
      <div class="bola"></div>
      <div class = "flag"></div>
      <img class="pista" src="../../../assets/IMG/PistaVacia.jpg" />
      <img class="pistaV" src="../../../assets/IMG/PistaCVion.jfif" />
      </span>
      <div class="circulo"></div>
      <strong class="texto">{{miInfo.habilidades.c.ano}}</strong>
    </div>
    <div class="tecnologia">
      <img src="{{miInfo.habilidades.c.logo}}" alt="C++" width="auto" height="80px">
    </div>     
  </div>
  <div class="card">
    <div class="Banderas">
      <span class="poste">
      <div class="bola"></div>
      <div class = "flag"></div>
      <img class="pista" src="../../../assets/IMG/PistaVacia.jpg" />
      <img class="pistaV" src="../../../assets/IMG/PistaCVion.jfif" />
      </span>
      <div class="circulo"></div>
      <strong class="texto">2022</strong>
    </div>
    <div class="tecnologia">
      <img src="../../../assets/IMG/HTML.png" alt="C++" width="auto" height="80px">
    </div> 
  </div>
  <div class="card">
    <div class="Banderas">
      <span class="poste">
      <div class="bola"></div>
      <div class = "flag"></div>
      <img class="pista" src="../../../assets/IMG/PistaVacia.jpg" />
      <img class="pistaV" src="../../../assets/IMG/PistaCVion.jfif" />
      </span>
      <div class="circulo"></div>
      <strong class="texto">2022</strong>
    </div>
    <div class="tecnologia">
      <img src="../../../assets/IMG/CSS.png" alt="C++" width="auto" height="80px">
    </div> 
  </div>
  <div class="card">
    <div class="Banderas">
      <span class="poste">
      <div class="bola"></div>
      <div class = "flag"></div>
      <img class="pista" src="../../../assets/IMG/PistaVacia.jpg" />
      <img class="pistaV" src="../../../assets/IMG/PistaCVion.jfif" />
      </span>
      <div class="circulo"></div>
      <strong class="texto"> 2022</strong>
    </div>
    <div class="tecnologia">
      <img src="../../../assets/IMG/Boostrap.jfif" alt="C++" width="auto" height="80px">
    </div> 
  </div>
  <div class="card">
    <div class="Banderas">
      <span class="poste">
      <div class="bola"></div>
      <div class = "flag"></div>
      <img class="pista" src="../../../assets/IMG/PistaVacia.jpg" />
      <img class="pistaV" src="../../../assets/IMG/PistaCVion.jfif" />
      </span>
      <div class="circulo"></div>
      <strong class="texto"> 2023</strong>
    </div>
    <div class="tecnologia">
      <img src="../../../assets/IMG/JS.png" alt="C++" width="auto" height="80px">
    </div> 
  </div>
  <div class="card">
    <div class="Banderas">
      <span class="poste">
      <div class="bola"></div>
      <div class = "flag"></div>
      <img class="pista" src="../../../assets/IMG/PistaVacia.jpg" />
      <img class="pistaV" src="../../../assets/IMG/PistaCVion.jfif" />
      </span>
      <div class="circulo"></div>
      <strong class="texto">2023</strong>
    </div>
    <div class="tecnologia">
      <img src="../../../assets/IMG/Angular.png" alt="C++" width="auto" height="80px">
    </div> 
  </div>
  <div class="card">
    <div class="Banderas">
      <span class="poste">
      <div class="bola"></div>
      <div class = "flag"></div>
      <img class="pista" src="../../../assets/IMG/PistaVacia.jpg" />
      <img class="pistaV" src="../../../assets/IMG/PistaCVion.jfif" />
      </span>
      <div class="circulo"></div>
      <strong class="texto">2023</strong>
    </div>
    <div class="tecnologia">
      <img src="../../../assets/IMG/Git.png" alt="C++" width="auto" height="80px">
    </div> 
  </div>
  <div class="card">
    <div class="Banderas">
      <span class="poste">
      <div class="bola"></div>
      <div class = "flag"></div>
      <img class="pista" src="../../../assets/IMG/PistaVacia.jpg" />
      <img class="pistaV" src="../../../assets/IMG/PistaCVion.jfif" />
      </span>
      <div class="circulo"></div>
      <strong class="texto">2023</strong>
    </div>
    <div class="tecnologia">
      <img src="../../../assets/IMG/Mysql.png" alt="C++" width="auto" height="80px">
    </div> 
  </div>
  <div class="card">
    <div class="Banderas">
      <span class="poste">
      <div class="bola"></div>
      <div class = "flag"></div>
      <img class="pista" src="../../../assets/IMG/PistaVacia.jpg" />
      <img class="pistaV" src="../../../assets/IMG/PistaCVion.jfif" />
      </span>
      <div class="circulo"></div>
      <strong class="texto">2023</strong>
    </div>
    <div class="tecnologia">
      <img src="../../../assets/IMG/TS.png" alt="C++" width="auto" height="80px">
    </div> 
  </div> -->
  <div style="display: inline-block;">
    <div id="mundo">
    <div class="peon">
        <!-- piso -->
        <div></div>
        <!-- base -->
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <!-- torso -->
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <!-- top recto -->
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <!-- top diagonal -->
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <!-- techo -->
        <div></div>  
    </div>
    <div class="html">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
  </div>
  </div>
  
  <div style="display: inline-block;">
    <div id="mundo">
    <div class="caballo">
        <!-- piso -->
        <div></div>
        <!-- base -->
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <!-- torso -->
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <!-- top recto -->
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <!-- top diagonal -->
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <!-- techo -->
        <div></div>  
    </div>
    <div class="html">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
  </div>
  </div>
</section>