<section id="habilidades"><div id="particles-js"></div><section class="Skills" 
  onmouseover="avion.display = 'block',cola.display = 'block' ,flap.display = 'block' ,timon.display = 'block'"
  onmouseout="avion.display = 'none',cola.display = 'none' ,timon.display = 'none',flap.display = 'none'"
  onmousemove="seguir(),seguir2(),seguir3(),seguir4()">
  <div class="Tavion">
    <div id="avion"><div id="ventanas"></div></div>
    <div id="cola"></div>
    <div id="timon"></div>
    <div id="flap"></div>
    </div>
  
    <div>
      <h5 style="color: rgb(243, 238, 169);margin-left: 1%;">Habilidades</h5>
    </div>
    
  <div class="card">
    <div class="Banderas">
      <span class="poste">
      <div class="bola"></div>
      <div class = "flag"></div>
      <img class="pista" src="../../../assets/IMG/PistaVacia.jpg" />
      <img class="pistaV" src="../../../assets/IMG/PistaCVion.jfif" />
      </span>
      <div class="circulo"></div>
      <strong class="texto">2021</strong>
    </div>
    <div class="tecnologia">
      <img src="../../../assets/IMG/C++.png" alt="C++" width="auto" height="80px">
    </div>     
  </div>
  <div class="card">
    <div class="Banderas">
      <span class="poste">
      <div class="bola"></div>
      <div class = "flag"></div>
      <img class="pista" src="../../../assets/IMG/PistaVacia.jpg" />
      <img class="pistaV" src="../../../assets/IMG/PistaCVion.jfif" />
      </span>
      <div class="circulo"></div>
      <strong class="texto">2022</strong>
    </div>
    <div class="tecnologia">
      <img src="../../../assets/IMG/HTML.png" alt="C++" width="auto" height="80px">
    </div> 
  </div>
  <div class="card">
    <div class="Banderas">
      <span class="poste">
      <div class="bola"></div>
      <div class = "flag"></div>
      <img class="pista" src="../../../assets/IMG/PistaVacia.jpg" />
      <img class="pistaV" src="../../../assets/IMG/PistaCVion.jfif" />
      </span>
      <div class="circulo"></div>
      <strong class="texto">2022</strong>
    </div>
    <div class="tecnologia">
      <img src="../../../assets/IMG/CSS.png" alt="C++" width="auto" height="80px">
    </div> 
  </div>
  <div class="card">
    <div class="Banderas">
      <span class="poste">
      <div class="bola"></div>
      <div class = "flag"></div>
      <img class="pista" src="../../../assets/IMG/PistaVacia.jpg" />
      <img class="pistaV" src="../../../assets/IMG/PistaCVion.jfif" />
      </span>
      <div class="circulo"></div>
      <strong class="texto"> 2022</strong>
    </div>
    <div class="tecnologia">
      <img src="../../../assets/IMG/Boostrap.jfif" alt="C++" width="auto" height="80px">
    </div> 
  </div>
  <div class="card">
    <div class="Banderas">
      <span class="poste">
      <div class="bola"></div>
      <div class = "flag"></div>
      <img class="pista" src="../../../assets/IMG/PistaVacia.jpg" />
      <img class="pistaV" src="../../../assets/IMG/PistaCVion.jfif" />
      </span>
      <div class="circulo"></div>
      <strong class="texto"> 2023</strong>
    </div>
    <div class="tecnologia">
      <img src="../../../assets/IMG/JS.png" alt="C++" width="auto" height="80px">
    </div> 
  </div>
  <div class="card">
    <div class="Banderas">
      <span class="poste">
      <div class="bola"></div>
      <div class = "flag"></div>
      <img class="pista" src="../../../assets/IMG/PistaVacia.jpg" />
      <img class="pistaV" src="../../../assets/IMG/PistaCVion.jfif" />
      </span>
      <div class="circulo"></div>
      <strong class="texto">2023</strong>
    </div>
    <div class="tecnologia">
      <img src="../../../assets/IMG/Angular.png" alt="C++" width="auto" height="80px">
    </div> 
  </div>
  <div class="card">
    <div class="Banderas">
      <span class="poste">
      <div class="bola"></div>
      <div class = "flag"></div>
      <img class="pista" src="../../../assets/IMG/PistaVacia.jpg" />
      <img class="pistaV" src="../../../assets/IMG/PistaCVion.jfif" />
      </span>
      <div class="circulo"></div>
      <strong class="texto">2023</strong>
    </div>
    <div class="tecnologia">
      <img src="../../../assets/IMG/Git.png" alt="C++" width="auto" height="80px">
    </div> 
  </div>
  <div class="card">
    <div class="Banderas">
      <span class="poste">
      <div class="bola"></div>
      <div class = "flag"></div>
      <img class="pista" src="../../../assets/IMG/PistaVacia.jpg" />
      <img class="pistaV" src="../../../assets/IMG/PistaCVion.jfif" />
      </span>
      <div class="circulo"></div>
      <strong class="texto">2023</strong>
    </div>
    <div class="tecnologia">
      <img src="../../../assets/IMG/Mysql.png" alt="C++" width="auto" height="80px">
    </div> 
  </div>
  <div class="card">
    <div class="Banderas">
      <span class="poste">
      <div class="bola"></div>
      <div class = "flag"></div>
      <img class="pista" src="../../../assets/IMG/PistaVacia.jpg" />
      <img class="pistaV" src="../../../assets/IMG/PistaCVion.jfif" />
      </span>
      <div class="circulo"></div>
      <strong class="texto">2023</strong>
    </div>
    <div class="tecnologia">
      <img src="../../../assets/IMG/TS.png" alt="C++" width="auto" height="80px">
    </div> 
  </div>

  </section></section>